

// -----------------------------------------------------------------------
// TP1 AEK - PALETA DE COLORES
// -----------------------------------------------------------------------

// Conjunto Template Claro
/*
$color: (
    fondo-body: whitesmoke,
    fondo-logo: lightskyblue,
    texto-h1: coral,
    texto-h2: whitesmoke
    texto-h3: lightblue,
    fondo-card: slategray
);
*/

// Conjunto Template Dark

$color: (
    fondo-body: slategray,
    fondo-logo: darkslategray,
    texto-h1: coral,
    texto-h2: lightblue,
    texto-h3: blue,
    fondo-card: slategray
);




