/*
$color: (
    fondo-body: slategray,
    fondo-logo: darkslategray,
    texto-h1: coral,
    texto-h2: midnightblue,
    fondo-card: slategray
);
*/
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 801px) {
  body {
    height: 100vh;
    background-color: whitesmoke;
  }
  .contenedor {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo   logo   logo  logo    logo" "menu   menu   menu   menu   menu" "main   main   main   main   main";
    -ms-grid-rows: 10fr 3fr 100fr;
        grid-template-rows: 10fr 3fr 100fr;
    -ms-grid-columns: 5fr 20fr 5fr 20fr 5fr;
        grid-template-columns: 5fr 20fr 5fr 20fr 5fr;
  }
  .contenedor .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: logo;
    background-color: lightskyblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor .logo .logoRecuadro {
    width: 30%;
    height: 80%;
    border: 1px solid red;
    background-color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor .logo .logoRecuadro .logoCohete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 3px solid blue;
    border-radius: 50%;
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 37px 2px #176d8c;
    box-shadow: 0px 0px 37px 2px #176d8c;
    height: 1.5em;
    width: 1.5em;
    font-size: 3em;
  }
  .contenedor .logo .logoRecuadro .titulo h1 {
    margin: 0 0 0 10px;
    font-size: 2em;
    color: coral;
  }
  .contenedor menu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: menu;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: yellow;
  }
  .contenedor menu .menu-principal {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor menu .menu-principal li {
    list-style: none;
  }
  .contenedor menu .menu-principal li:hover .menu-interior {
    visibility: visible;
  }
  .contenedor menu .menu-interior {
    position: absolute;
    visibility: hidden;
    /* 1 - Estilo Desplegable - Sacar Identado */
    padding: 0;
    /* 2 - Estilo Desplegable - Fondo, Borde, Color, Ancho */
    background-color: lightblue;
    border: 1px solid black;
    color: black;
    width: 150px;
    /* 3 - Estilo Desplegable - Efecto Sombreado */
    -webkit-box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.75);
    /* 4 - Estilo Desplegable - Saco Subrayado */
    /* 5 - Estilo Desplegable - Recuadro Interior */
    /* 6 - Estilo Desplegable - Efecto Color */
  }
  .contenedor menu .menu-interior a {
    text-decoration: none;
    color: darkslateblue;
  }
  .contenedor menu .menu-interior li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid black;
  }
  .contenedor menu .menu-interior li:hover {
    background-color: lightgoldenrodyellow;
  }
  .contenedor main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: main;
    background-image: url(../imagenes/Cumulo_Galaxias.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: whitesmoke;
  }
  .contenedor main .objetivo {
    width: 90%;
  }
  .contenedor main .objetivo h2 {
    font-size: 3em;
    color: lightblue;
  }
  .contenedor main .objetivo .detalle {
    width: 90%;
    font-size: 1em;
    text-align: justify;
  }
}
/*# sourceMappingURL=style2.css.map */